.settings/
bin/
classes/
lib/
build/
.gradle/
target/
.classpath
.project
!targetProject/eclipseConfig/.settings/
!targetProject/eclipseConfig/.classpath
!targetProject/eclipseConfig/.project

# gradle wrapper（暂时没用到）
gradlew
gradlew.bat
gradle/
gradle.properties

# 生成的sql文件不提交
/cap-webapp/sql

# 生成的代码不提交
/cap-webapp/src/main/java/com/comtop/cip
/cap-webapp/src/main/java/com/comtop/projectManage3
/cap-webapp/src/main/resources/com/comtop/cip
/cap-webapp/src/main/resources/com/comtop/projectManage3
/cap-webapp/src/main/webapp/WEB-INF/metadata/com/comtop/cip
/cap-webapp/src/main/webapp/cip/projectManage
/cap-webapp/src/main/webapp/cip/projectManage2
/cap-webapp/src/main/webapp/projectManage3
/cap-webapp/src/main/webapp/WEB-INF/metadata/preference/config/pageTemplateAction/CustomPageTemplateAction.pageTemplateAction.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/preference/config/preferenceConfig/CustomPreferences.preferenceConfig.xml
/cap-webapp/src/main/webapp/WEB-INF/metadata/preference/page/environmentVariable/CustomEnvironmentVariables.environmentVariable.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/preference/page/includeFile/CustomIncludeFiles.includeFile.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/template/metadataTmpType/customType.metadataTmpType.json
/cap-webapp/ui
/cap-webapp/gradle-app.settings
/cap-webapp/src/main/webapp/WEB-INF/metadata/favorites/favoriteType
/cap-webapp/src/main/webapp/WEB-INF/metadata/actionlibrary/actionType/customBase.actionType.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/actionlibrary/actionType/customBiz.actionType.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/requestmanage/modulerequest/projectmanage2.modulerequest.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/com/comtop/projectmanage3/entity/YsProject.entity.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/com/comtop/projectmanage3/page/ProjectWorkFlowToDoListPage2.page.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/com/comtop/projectmanage3/table/OMS_DEMO_YS_PROJECT.table.json
/cap-webapp/src/main/webapp/WEB-INF/metadata/requestmanage/modulerequest/projectManage.modulerequest.json
/src/main/java/com/comtop/cip/projectManage/action/YsProjectDoneListPageAction.java
/src/main/java/com/comtop/cip/projectManage/action/YsProjectEditPageForWorkFlowAction.java
/src/main/java/com/comtop/cip/projectManage/action/YsProjectListPageForWorkFlowAction.java
/src/main/java/com/comtop/cip/projectManage/action/YsProjectToDoListPageAction.java
/src/main/java/com/comtop/cip/projectManage/action/abs/AbstractYsProjectDoneListPageAction.java
/src/main/java/com/comtop/cip/projectManage/action/abs/AbstractYsProjectEditPageForWorkFlowAction.java
/src/main/java/com/comtop/cip/projectManage/action/abs/AbstractYsProjectListPageForWorkFlowAction.java
/src/main/java/com/comtop/cip/projectManage/action/abs/AbstractYsProjectToDoListPageAction.java
/src/main/resources/com/comtop/cip/projectManage/sql/YsProject.soa.sql
/src/main/webapp/cip/projectManage/YsProjectDoneListPage.jsp
/src/main/webapp/cip/projectManage/YsProjectEditPageForWorkFlow.jsp
/src/main/webapp/cip/projectManage/YsProjectListPageForWorkFlow.jsp
/src/main/webapp/cip/projectManage/YsProjectToDoListPage.jsp
/src/main/resources/com/comtop/cip/projectManage/sql

# 原型页面和图片不提交
/cap-webapp/src/main/webapp/WEB-INF/metadata/com/comtop/prototype

/cap-webapp/src/main/webapp/doc-log
/cap-webapp/src/main/webapp/WEB-INF/docconfig/docconfig-srs-*.xml
/cap-webapp/src/main/webapp/eic/temp
/cap-webapp/src/main/webapp/prototype/DM-*
/cap-webapp/src/main/webapp/WEB-INF/metadata/requestmanage/modulerequest
/cap-webapp/src/main/webapp/WEB-INF/metadata/com/comtop/project2
/cap-webapp/src/main/webapp/prototype/REQ_PROTOTYPE_IMAGE
/.svn
/cap-webapp/src/main/webapp/org
/cap-webapp/src/main/java/com/comtop/user
